Webpack (imports/exports)
  Babel
  Scss
  ESlint
  2 Modes
    - Dev
        Dev Server, SourceMaps, Eslint, Not Minified JS & CSS
    - Prod
        Minitied Code
Git
  Production
    1.0.0
  Development
    1.2.2
    